<!-- Datasource is a simple text -->
<div class="control-group" data-ng-collapse="item.output_media_type_id!=2 || item.output_determined!=1">
    <label class="control-label" for="datasourceData">The raw text serving as datasource</label>
    <div class="controls"><textarea rows="90" cols="60"
                                    class="input-xlarge"
                                    data-ng-model="item.data" id="datasourceData"
                                    name="datasourceData"></textarea>
    </div>
</div>