<div data-ng-controller="MergerCtrl">
    <!--Modal form header-->
    <div class="modal-header">
        <!--Add-->
        <div data-ng-show="action=='add'">
            <h1>Add {{ item.type }}</h1>
        </div>
        <!--Edit-->
        <div data-ng-show="action=='edit'">
            <h1>Edit {{ item.type }}</h1>
        </div>
        <!--Delete-->
        <div data-ng-show="action=='delete'">
            <h1>Delete {{ item.type }}</h1>
        </div>
    </div>


    <!--Modal form body-->
    <div class="modal-body">


    <h2>Merger {{ item.id }} details</h2>
<form name="form" novalidate class="form-horizontal">

    <div data-ng-model="item" id="merger">

        <!--Name-->
        <div class="control-group"
             data-ng-class="{error: form.mergerName.$dirty && form.mergerName.$error.required}"><label
                class="control-label" for="mergerName">Merger name</label>

            <div class="controls"><input type="text" data-ng-model="item.name" id="mergerName" name="mergerName"
                                         required>

                <div data-ng-show="form.mergerName.$dirty && form.mergerName.$invalid"
                     class="form-error-message">Invalid:<span
                        data-ng-show="form.mergerName.$error.required">This field is mandatory</span></div>
            </div>
        </div>


        <!--Description-->
        <div class="control-group"
             data-ng-class="{error: form.mergerDescription.$dirty && form.mergerDescription.$error.required}">
            <label class="control-label" for="mergerDescription">Merger description</label>

            <div class="controls"><textarea rows="8" cols="60"
                                            class="input-xlarge"
                                            data-ng-model="item.description" id="mergerDescription"
                                            name="mergerDescription" required></textarea>

                <div data-ng-show="form.mergerDescription.$dirty && form.mergerDescription.$invalid"
                     class="form-error-message">Invalid:<span
                        data-ng-show="form.mergerDescription.$error.required">This field is mandatory</span>
                </div>
            </div>
        </div>


        <!--Merger type-->
        <div class="control-group">
            <label class="control-label" for="mergerType">Merger type</label>
            <div class="controls">
                <select data-ui-select2
                        class="input-xlarge"
                        data-ng-model="mergerType"
                        id="mergerType"
                        name="mergerType"
                        data-style="btn-primary"
                        data-ng-options="type.name for (id, type) in mergerTypes"
                        data-ng-disabled="type.id==2"
                        required>
                </select>
            </div>
        </div>

            <!--Merger Subtypes-->
        <div class="control-group">
                <label class="control-label">Merger subType</label>
            <div class="controls">
                <select data-ui-select2
                        class="input-xlarge"
                        data-ng-model="item.merger_type_id"
                        id="mergerSubType"
                        name="mergerSubType"
                        data-style="btn-primary"
                        required>
                    <option data-ng-repeat="subType in mergerType.subTypes" value="{{subType.id}}" data-ng-disabled="subType.id==11 || (subType.id>20 && subType.id<30 && subType.id!=25)">{{subType.name}}</option>
                </select>
            </div>
        </div>

        <!--Crowd-sourcing parameters -->
        <fieldset data-collapse="!(item.merger_type_id==12)">
            <!--Restriction to show this form part only if the merger is a crowd-sourcing task itself-->
            <legend>Define the crowd-sourcing parameters</legend>
            <div class="control-group" data-ng-repeat="parameter in parameters"
                 data-collapse="{{ '!('+parameter.show+')'}}"
                    >
                <label class="control-label">{{ parameter.label }}</label>

                <div class="controls">
                    <input name="par{{parameter.id}}" id="par{{parameter.id}}" type="{{parameter.type}}"
                           data-ng-model="item.parameters[parameter.id]" data-ng-disabled="{{parameter.disabled}}"
                           min="{{parameter.min}}" step="{{parameter.step}}">
                </div>
                <div data-ng-show="parameter.isDuration" data-ng-model="item.parameters[parameter.id]" data-cs-duration/>
                <div data-ng-show="parameter.id=='reward'" data-ng-model="item" data-cs-payment/>
            </div>
        </fieldset>


        <div data-collapse="!(item.merger_type_id==31) && !(item.merger_type_id==12) && !(item.merger_type_id==25)">
            <!--Only a few merger types need additional input fields that is added dynamically-->
        <h2>Define merger type specific data</h2>
        <div data-ng-include="'partials/forms/mergerforms/type'+item.merger_type_id+'.html'"/>
        </div>
    </div>
    <!--End item model-->

</form>

<hr>
<h2>Merger inputs</h2>
<div data-cs-connection-info="{displayTo:false, details:'short'}" data-ng-model="connectionIn" data-ng-repeat="connectionIn in connectionsIn"/>
<div data-ng-show="connectionsIn==undefined || connectionsIn.length==0">No merger input defined</div>

</div>

<!--Modal form footer-->
<div class="modal-footer">

    <!--Add/ edit-->
    <button data-ng-click="save()"
            data-ng-disabled="form.$invalid"
            data-ng-show="action=='add' || action=='edit'"
            class="btn btn-primary">
        Save
    </button>

    <!--Delete-->
    <button data-ng-click="delete()"
            data-ng-disabled="form.$invalid"
            data-ng-show="action=='delete'"
            class="btn btn-danger">
        Delete item
    </button>

    <button class="btn btn-warning cancel" data-ng-click="cancel()">Cancel</button>
</div>
    <!--End model footer-->

</div>
<!--End controller-->